.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: none;
    }
    /* .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    } */
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        left: auto;
        right: -66px;
    } 
}

@media (max-width: 1100px) {
    .carousel {
        &__inner {
            img {
                width: 75%;
            }
        }
        .prev, .next {
            left: 0;
        }
        .next {
            left: auto;
            right: 0;
        }
        .tns-nav {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .carousel {
        padding: 35px 0;
        .prev, .next {
            display: none;
        }
        .tns-nav {
            display: flex;
            justify-content: center;
            height: 10px;
            margin-bottom: 5px;
            button {
                margin: 0 2px;
                height: 10px;
                width: 10px;
                border-radius: 100%;
                border: none;
                background-color:rgb(192, 186, 186)
            }
            .tns-nav-active {
                background-color: red;
            }
        }
    }
}